/*reseteo*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    height: 60px;
}

header {
    margin-top: 105px;
}
.bg-gr {
    background-color: rgb(51, 50, 50);
}
.bg-gra {
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}
.bg-gra:hover {
    transform: scale(1.1);
    color: rgb(0, 200, 255) !important;
}
/*formulario*/
.formularioCss {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-top: 20px;
    border: 2px solid rgb(51, 50, 50);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
/*fin formulario*/
/*footer*/
.footerText {
    display: flex;
    background-color: rgb(51, 50, 50);
    color: rgb(255, 255, 255);
    font-weight: bold;
    justify-content: center;
}
.footerText a {
    text-decoration: none;
    color: rgb(0, 200, 255);
}
/*fin footer*/